@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* line 6, ../css/input/_base.scss */
html {
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

/* line 14, ../css/input/_base.scss */
body p {
  font-family: 'Montserrat', sans-serif;
  color: #2d2d2d;
  line-height: 150%;
}

/* line 20, ../css/input/_base.scss */
header {
  background-color: #fff;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
}

/* line 32, ../css/input/_base.scss */
header > a img {
  width: 10rem;
  height: 8.3rem;
}

/* line 38, ../css/input/_base.scss */
header nav {
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
}

/* line 42, ../css/input/_base.scss */
header nav input[type="checkbox"] {
  display: none;
}

/* line 45, ../css/input/_base.scss */
header nav ul {
  margin: 5rem 3rem 0 0;
}

/* line 47, ../css/input/_base.scss */
header nav ul li {
  display: inline-block;
}

/* line 49, ../css/input/_base.scss */
header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0px 1.1rem;
  line-height: 2.25;
  -webkit-transition: .5s;
  position: relative;
  letter-spacing: 1px;
  z-index: 0;
  color: #4b4b4b;
}

/* line 62, ../css/input/_base.scss */
header nav ul li a:hover {
  color: #011655;
}

/* line 65, ../css/input/_base.scss */
header nav ul li a:before {
  position: absolute;
  bottom: -3px;
  display: inline-block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #011655;
  transition: all 0.35s ease;
}

/* line 76, ../css/input/_base.scss */
header nav ul li a:hover:before {
  width: 100%;
}

/* Menu de navigation au scroll */
/* line 86, ../css/input/_base.scss */
header.scroll {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

/* line 91, ../css/input/_base.scss */
header.scroll > a img {
  width: 8.5rem;
  height: 6.8rem;
}

/* line 96, ../css/input/_base.scss */
header.scroll nav {
  padding: 0.3rem 0;
}

/* line 98, ../css/input/_base.scss */
header.scroll nav ul {
  margin: 4rem 3rem 0 0;
}

/* line 105, ../css/input/_base.scss */
footer {
  background-color: #011655;
  color: white;
  width: calc(100% - 4rem);
  padding: 2rem;
}

/* line 115, ../css/input/_base.scss */
footer #flexContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* line 119, ../css/input/_base.scss */
footer #flexContainer div.divFlex {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  width: 20%;
  line-height: 200%;
}

/* line 124, ../css/input/_base.scss */
footer #flexContainer div.divFlex h3 {
  font-size: 1.2em;
  font-family: "Roboto", Arial, sans-serif, serif;
  text-decoration: underline;
  margin-bottom: .4em;
}

/* line 130, ../css/input/_base.scss */
footer #flexContainer div.divFlex p {
  color: white;
}

/* line 133, ../css/input/_base.scss */
footer #flexContainer div.divFlex:first-child {
  width: 45%;
  margin-left: 5rem;
}

/* line 137, ../css/input/_base.scss */
footer #flexContainer div.divFlex ul li a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}

/* line 144, ../css/input/_base.scss */
footer #reseaux {
  margin-top: 2rem;
  text-align: center;
}

/* line 147, ../css/input/_base.scss */
footer #reseaux li {
  display: inline-block;
}

/* line 150, ../css/input/_base.scss */
footer #reseaux .carre {
  font-size: 1.4rem;
  padding: .1rem 0.4rem;
  margin: 0 2rem 0 0;
  box-shadow: 0 0 0 3px #011655;
  transition: all 500ms ease;
}

/* line 156, ../css/input/_base.scss */
footer #reseaux .carre:hover {
  background-color: #011655;
  color: black;
  box-shadow: 0 0 0 3px #af9654;
  transition: all 500ms ease;
}

/* line 162, ../css/input/_base.scss */
footer #reseaux .carre i {
  color: white;
}

/* line 164, ../css/input/_base.scss */
footer #reseaux .carre i:hover {
  color: black;
}

/* line 170, ../css/input/_base.scss */
footer #legalNotice {
  text-align: center;
}

/* line 172, ../css/input/_base.scss */
footer #legalNotice li {
  display: inline-block;
  padding-right: 1rem;
  margin: 2rem 1rem 0 0;
  border-right: 2px solid #af9654;
}

/* line 177, ../css/input/_base.scss */
footer #legalNotice li:last-child {
  border-right: none;
}

/** STYLE TABLETTE **/
@media (max-width: 1024px) {
  /* line 190, ../css/input/_base.scss */
  header div .logo {
    width: 9rem;
    height: 6.3rem;
  }
  /* line 194, ../css/input/_base.scss */
  header div .profil {
    font-size: 1rem;
  }
  /* line 198, ../css/input/_base.scss */
  header div a i {
    font-size: 1.7rem;
  }
  /* line 202, ../css/input/_base.scss */
  header div .connexion {
    padding: .4rem .9rem;
    font-size: 1rem;
  }
  /* line 206, ../css/input/_base.scss */
  header div div {
    margin-right: 15rem;
  }
  /* line 210, ../css/input/_base.scss */
  header nav {
    text-align: right;
    margin-right: 4rem;
    padding: 0.3rem 0 0 0;
  }
  /* line 214, ../css/input/_base.scss */
  header nav ul li a {
    font-size: 1rem;
  }
  /* line 223, ../css/input/_base.scss */
  footer div ul:first-child li {
    display: block;
    border: none;
  }
}

/** STYLE SMARTPHONE **/
@media (hover: none), (max-width: 840px) {
  /* line 236, ../css/input/_base.scss */
  header div p {
    margin-left: -5rem;
  }
  /* line 239, ../css/input/_base.scss */
  header div p span img {
    width: 20px;
    height: 14px;
  }
  /* line 245, ../css/input/_base.scss */
  header div div {
    margin-right: 3rem;
  }
  /* line 247, ../css/input/_base.scss */
  header div div .profil {
    display: none;
  }
  /* line 252, ../css/input/_base.scss */
  header nav {
    /* Bloc menu burger */
  }
  /* line 254, ../css/input/_base.scss */
  header nav input:checked + label > span {
    transform: rotate(45deg);
  }
  /* line 256, ../css/input/_base.scss */
  header nav input:checked + label > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  /* line 260, ../css/input/_base.scss */
  header nav input:checked + label > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  /* line 265, ../css/input/_base.scss */
  header nav input:checked ~ ul {
    right: 0 !important;
  }
  /* line 270, ../css/input/_base.scss */
  header nav label {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* line 278, ../css/input/_base.scss */
  header nav label > span, header nav label ::before, header nav label ::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  /* line 286, ../css/input/_base.scss */
  header nav label > span::before {
    content: '';
    top: -8px;
  }
  /* line 290, ../css/input/_base.scss */
  header nav label > span::after {
    content: '';
    top: 8px;
  }
  /* line 296, ../css/input/_base.scss */
  header nav ul {
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    right: -100%;
    width: 15.5rem;
    height: 50%;
    margin: 0;
    padding: 5rem 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: .25s;
  }
  /* line 314, ../css/input/_base.scss */
  header nav ul li a {
    display: block;
    color: #333;
    font-size: 1.1rem;
    font-weight: 600;
    transition-duration: .25s;
  }
  /* line 322, ../css/input/_base.scss */
  header nav ul li .connexion {
    position: static;
    background-color: inherit;
    border: none;
    color: inherit;
    font-size: 1rem;
    text-transform: uppercase;
    -webkit-transition: .5s;
  }
  /* line 330, ../css/input/_base.scss */
  header nav ul li .connexion:hover {
    /* Pour supprimer l'animation qui a été sur le button connexion */
    background: inherit;
    color: #011655;
  }
  /* line 341, ../css/input/_base.scss */
  footer {
    clear: both;
    /* Pour stopper le float s'il existe (par exemple on stoppe le float de la page prestations) */
    font-size: .8rem;
  }
  /* line 344, ../css/input/_base.scss */
  footer > ul {
    margin-right: 2rem;
    margin-left: 1rem;
  }
  /* line 348, ../css/input/_base.scss */
  footer div {
    width: 50%;
  }
  /* line 350, ../css/input/_base.scss */
  footer div ul:last-child {
    display: none;
  }
}

@font-face {
  font-family: 'avenir-lt-std-85-heavy';
  src: url("../../font/avenir-lt-std-85-heavy.otf");
}

/* line 6, ../css/input/styleForm.scss */
section {
  margin: 15rem auto;
  width: 50%;
}

/* line 10, ../css/input/styleForm.scss */
section h1 {
  /* style générale des h2 */
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #011655;
  font-family: "Roboto", Arial, sans-serif, serif;
  margin-bottom: 3rem;
}

/* line 14, ../css/input/styleForm.scss */
section p {
  text-align: center;
  margin-bottom: 1rem;
}

/* line 18, ../css/input/styleForm.scss */
section form {
  text-align: center;
}

/* line 20, ../css/input/styleForm.scss */
section form #error {
  width: auto;
  text-align: center;
  color: red;
}

/* line 25, ../css/input/styleForm.scss */
section form #success {
  position: fixed;
  top: 50vh;
  right: calc(50% - 155px);
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  background-color: #4CAF50;
  visibility: hidden;
}

/* line 28, ../css/input/styleForm.scss */
section form #closebtn {
  /** Boutton pour fermer le message de succès **/
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
}

/* line 111, ../css/input/_mixin.scss */
section form #closebtn:hover {
  color: black;
}

/* line 31, ../css/input/styleForm.scss */
section form input, section form select {
  display: inline-block;
  width: 340px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 30px;
  border: 1px solid #3F3E3E;
  font-size: 100%;
  box-sizing: border-box;
  /* Pour que les élément de type input et select aient la même dimension */
  background-color: white;
}

/* line 42, ../css/input/styleForm.scss */
section form textarea {
  width: 90%;
  border: 1px solid #3F3E3E;
}

/* line 46, ../css/input/styleForm.scss */
section form p {
  margin-left: 2.2rem;
  font-size: 80%;
  color: #999;
  text-align: left;
}

/* line 52, ../css/input/styleForm.scss */
section form input[type="checkbox"] {
  width: auto;
  margin: 0;
}

/* line 56, ../css/input/styleForm.scss */
section form span {
  text-align: left;
}

/* line 59, ../css/input/styleForm.scss */
section form input[type="submit"] {
  background-image: linear-gradient(to right, #1e3c72 0%, #2a5298 51%, #1e3c72 100%);
  width: auto;
  padding: 13px 75px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  margin: 2rem auto;
  cursor: pointer;
}

/* line 73, ../css/input/styleForm.scss */
section form input[type="submit"]:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/*# sourceMappingURL=styleDevis.css.map */