@import"base";
@font-face {
    font-family: 'avenir-lt-std-85-heavy';
    src: url('../../font/avenir-lt-std-85-heavy.otf');
}
section{
  width: 90%;
  margin: 0 auto;
  h2{
    margin-top: 6em;
    @include h2;
  }
  >p{
    margin: 2rem 0;
  }
  article{
    div:first-child{
      text-align: center;
      width: 50%;
      background-color: #FAFAFA;
      //float: left;
      img{
        margin: 4rem auto;
      }
    }
    h3{
      @include h3;
      padding-top: 2rem;
      margin-bottom: 1rem;
      position: relative;
      display: inline-block;
      &::after{
        content: '';
        position: absolute;
        border: 2px solid $navyBlue;
        width: 50%;
        top: 2.7em;
        left: 0;
      }
    }
    .description{
      padding-left: 2rem;
      p{
        line-height: 150%;
        margin-bottom: 1rem;
      }
    }
  }
  #nettoyage{ /* Article nettoyage */
    div:first-child{
      float: left;
      margin-right: 2rem;
    }
  }
  #gardiennage{ /* Article gardiennage */
    clear: both;
    div:first-child{
      float: right;
      margin-left: 2rem;
    }
  }
  #brancardage{ /* Article brancardage */
    clear: both;
    div:first-child{
      float: left;
      margin-right: 2rem;
    }
  }
  #othersActivities{
    clear: both;
    text-align: center;
    ul{
      font-size: 1.1rem;
      line-height: 200%;
      li{
        list-style: disc;
      }
    }
  }
}
hr{
    clear: both;
}
