<!DOCTYPE html>
<html lang="{{lang}}" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/output/{{css}}.css">
    <link rel="stylesheet" href="css/output/slider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="js/index.js" defer></script>
    <script src="js/blockFormSubmitRefresh.js" defer></script>
    <script src="js/JsGeneral.js" defer></script>
    <script src="js/slider.js" defer></script>
    <script src="js/{{script}}.js" defer></script>
    <script src="https://kit.fontawesome.com/18ee91faff.js" crossorigin="anonymous"></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Anton|Cabin|Lato|Fjalla+One|Montserrat|Roboto&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

  </head>
  <body>

    <header>

        <a href="index.php?lang=fr">
          <img src="images/logo1.png" alt="Logo">
        </a>


      <!-- Menu de navigation -->

      <nav>
        <input id="menu__toggle" type="checkbox" />
        <label for="menu__toggle">
          <span></span>
        </label>

        <ul>
          <!-- <div id="toggleLeft"><i class="fa-solid fa-chevron-left"></i></div> -->
            <li><a href="index.php">accueil</a></li>
            <li><a href="prestations.php">prestations</a></li>
            <li><a href="nosValeurs.php">nos valeurs</a></li>
            <li><a href="devis.php">demander un devis</a></li>
            <li><a href="contactezNous.php">contactez-nous</a></li>
          <!-- <div id="toggleRight"><i class="fa-solid fa-chevron-right"></i></div> -->
        </ul>

      </nav>

    </header>

    {% block contenu %}
  	{% endblock %}

      <footer>
        <div id="flexContainer">
          <div class="divFlex">
            <h3>Servimaroc S.A.R.L</h3>
            <p>Servimaroc, votre entreprise de nettoyage présent partout au Maros.
              Avec une expertise solide en matière de nettoyage industriel, notre structure vous propose des services de nettoyage professionnel sur-mesure.
              Vous avez un projet ? Sur simple appel téléphonique, échangez avec l’un de nos experts et obtenez un devis nettoyage gratuit et rapide.</p>
          </div>
          <div class="divFlex">
            <h3>Secteurs d'activités</h3>
            <ul>
              <li>Nettoyage industriel</li>
              <li>Nettoyage bureaux</li>
              <li>Nettoyage copropriétés</li>
              <li>Nettoyage vitres</li>
              <li>Entretien espaces verts</li>
              <li>Gardiennage</li>
              <li>Brancardage</li>
              <li>Buandage</li>
            </ul>
          </div>
          <div class="divFlex">
            <h3>Plan de site</h3>
            <ul>
              <li><a href="index.php">accueil</a></li>
              <li><a href="prestations.php">prestations</a></li>
              <li><a href="nosValeurs.php">nos valeurs</a></li>
              <li><a href="devis.php">demander un devis</a></li>
              <li><a href="contact.php">contactez-nous</a></li>
            </ul>
          </div>
        </div>
        <ul id="reseaux">
            <li><a href=""><span class="carre"><i class="fab fa-facebook"></i></span></a></li>
            <li><a href=""><span class="carre"><i class="fab fa-twitter"></i></span></a></li>
            <li><a href=""><span class="carre"><i class="fab fa-linkedin-in"></i></span></a></li>
        </ul>
        <ul id="legalNotice">
          <li>2022 © Réalisation par Servimaroc</li>
          <li>Mentions légales</li>
          <li>Politique de confidentialité</li>
        </ul>
      </footer>

      <!-- Jquery -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <!-- Owl Carousel -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  </body>
</html>
