{% extends "base.html.twig" %}
{% block contenu %}
<section>
  <h1>Obtenir un devis gratuitement</h1>
  <p>Obtenez votre devis gratuit sans engagement en moins de 48 heures.</p>
  <p>Envoyez-nous votre demande et un de nos commerciaux vous apportera une réponse adaptée à vos besoins.</p>

  <form>
    <p>{{errorMsg}}</p>
    <div id="success">
       <span id="successMessage"></span>
       <i id="closebtn">x</i>
    </div>
    <input type="text" name="companyName" value="" placeholder="Raison Sociale">

    <input type="text" name="contactPerson" value="" placeholder="Personne à contacter *">

    <input type="email" name="email" value="" placeholder="Adresse mail *">

    <input type="tel" name="tel" value="" placeholder="Téléphone *">

    <input type="text" name="town" value="" placeholder="Ville *">

    <select name="service" id="service">
       <option value="" disabled selected>--Service souhaité *--</option>
       <option class="option" value="Nettoyage">Nettoyage</option>
       <option class="option" value="Gardiennage">Gardiennage</option>
       <option class="option" value="Buandage">Buandage</option>
       <option class="option" value="Brancardage">Brancardage</option>
     </select>

    <select name="nettoyage" id="nettoyage">
       <option value="" disabled selected>--Nettoyage *--</option>
       <option class="option" value="Nettoyage journalière">Nettoyage journalière</option>
       <option class="option" value="Nuisible et Désinfection">Nuisible et Désinfection</option>
       <option class="option" value="Nettoyage de vitres">Nettoyage de vitres</option>
       <option class="option" value="Nettoyage de fin de chantier">Nettoyage de fin de chantier</option>
       <option class="option" value="Nettoyage après sinistre">Nettoyage après sinistre</option>
       <option class="option" value="Nettoyage événementiel">Nettoyage événementiel</option>
       <option class="option" value="Nettoyage d'immeubles et parties communes">Nettoyage d'immeubles et parties communes</option>
     </select>

     <input type="text" id="surface" name="surface" value="" placeholder="Surface des locaux concernés (en m2) *">

     <select name="frequency" id="frequency">
        <option value="" disabled selected>-- Fréquence des interventions *--</option>
        <option class="option" value="Une seul fois">Une seul fois</option>
        <option class="option" value="Chaque jour">Chaque jour</option>
        <option class="option" value="Chaque semaine">Chaque semaine</option>
        <option class="option" value="Une semaine sur deux">Une semaine sur deux</option>
        <option class="option" value="Une fois par mois">Une fois par mois</option>
        <option class="option" value="Autre">Autre</option>
      </select>

      <textarea name="description" placeholder=" Description détaillée *" rows="13" ></textarea>

      <p>Veuillez remplir tous les champs marqués d'un astérisque (*) : ces champs sont obligatoires.</p>
      <input type="checkbox" name="RGPD" value="">
      <span>En cochant cette case, vous acceptez que les données renseignées dans ce formulaire soient utilisés dans le but de vous proposer des informations et offres commerciales. Ces données sont réservées à l'usage exclusif de servimaroc.ma et ne seront en aucun cas communiquées à des tiers. Vous pouvez nous demander à tout moment à servicompact@gmail.com l'accès ou la suppression de vos données personnelles. Pour plus d'informations, nous vous invitons à consulter nos mentions légales.</span>
    <input type="submit" name="submit" value="Envoyer">
    <p id="error"></p>
  </form>

</section>
{% endblock %}
