{% extends "base.html.twig" %}
{% block contenu %}

<!-- Sliders -->
<section class="owl-carousel owl-theme">
  <div class="slide slide-1">
      <div class="slide-content">
          <h1>Un réseau de milliers de professionnels dans plusieurs métiers :</h1>
          <p>Nettoyage, Gardiennage, Nuisible, Brancardage..</p>
          <button>Découvrez nos préstations</button>
      </div>
  </div>
  <div class="slide slide-2">
      <div class="slide-content">
          <h1>Nous intervenons partout pour vos besoins de services d'entretien</h1>
          <p>Interventions régulières ou ponctuelles</p>
          <button>Adoptez nos solutions de nettoyage</button>
      </div>
  </div>
  <div class="slide slide-3">
      <div class="slide-content">
          <h1>Nettoyage industriel de confiance</h1>
          <p>Créez un environnement de travail propre et sain adapté à vos besoins.</p>
          <button>Demander un devis</button>
      </div>
  </div>
</section>

<!-- Section préstations -->
<section>
  <h2>Nos préstations</h2>
  <div class="wrapper">
    <div class="card"><img src="images/prestations/nettoyageIndustriel.jpg"/>
      <div class="info">
        <h3>Nettoyage Industriel</h3>
        <!-- <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p> -->
        <button>En savoir plus</button>
      </div>
    </div>
    <div class="card"><img src="images/prestations/gardiennage2.jpg"/>
      <div class="info">
        <h3>Gardiennage</h3>
        <!-- <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p> -->
        <button>En savoir plus</button>
      </div>
    </div>
    <div class="card"><img src="images/prestations/brancardage.jpg"/>
      <div class="info">
        <h3>Brancardage</h3>
        <!-- <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p> -->
        <button>En savoir plus</button>
      </div>
    </div>
  </div>
</section>

<!-- fin section préstations -->

<div class="hr">
  <hr>
  <i class="fa-solid fa-droplet"></i>
  <hr>
</div>

<!-- Section lieux d'Interventions -->
<section>
  <h2>Nos lieux d'interventions</h2>
  <div class="wrapper">
     <div class="block">
       <div class="image">
         <img src=images/lieux/medicale.jpg alt="lieux hôpital"/>
       </div>
       <h3>Hôpitaux</h3>
     </div>
     <div class="block">
       <div class="image">
         <img src=images/lieux/education.jpg alt="lieux d'éducation"/>
       </div>
       <h3>Education</h3>
     </div>
     <div class="block">
       <div class="image">
         <img src=images/lieux/hotelerie.jpg alt="Les hôtels"/>
       </div>
       <h3>Hôteleire</h3>
     </div>
     <div class="block">
       <div class="image">
         <img src=images/lieux/industriel.jpg alt="lieux industriel"/>
       </div>
       <h3>Industrie</h3>
     </div>
  </div>
</section>

<!-- fin section lieux d'Interventions -->

<div class="hr">
  <hr>
  <i class="fa-solid fa-droplet"></i>
  <hr>
</div>


<section id="keyFigures">
  <h2>Servimaroc en quelques chiffres</h2>
  <div id="container">
    <div class="content">
      <div class="counter" data-count="150">0  </div>
      <h4>Clients</h4>
    </div>
    <div class="content">
      <div class="counter" data-count="345">0  </div>
      <h4>Projets</h4>
    </div>
    <div class="content">
      <div class="counter" data-count="16">0  </div>
      <h4>Expertises</h4>
    </div>
    <div class="content">
      <div class="counter" data-count="80">0  </div>
      <h4>Experts</h4>
    </div>
  </div>

</section>

{% endblock %}
