{% extends "base.html.twig" %}
{% block contenu %}
<div class=" slideEventImg">

  <img class="activeImg" src="https://www.onetravel.com/going-places/wp-content/uploads/2017/01/Mother-and-two-children-look-at-the-sea.jpg" alt="">

  <img class="" src="https://i1.wp.com/goingglobaltv.com/wp-content/uploads/Travel-2018.jpg?resize=1000%2C600" alt="">

  <img class="" src="https://i1.wp.com/www.menabytes.com/wp-content/uploads/2017/08/Travel-Websites-MENA.jpg?resize=1000%2C600&ssl=1" alt="">
  <img class="" src="https://www.cheapoair.com/miles-away/wp-content/uploads/2017/01/make-money-while-you-travel-.jpg" alt="">


  <div class="indicators">
    <i class="fa fa-angle-left fa-3x text-"></i>
    <i class="fa fa-angle-right fa-3x"></i>
  </div>

</div><!-- slideEventImg -->
{% endblock %}
