{% extends "base.html.twig" %}
{% block contenu %}
<section id="banderole">
  <div id="imageBack">
    <div class="overlay">
    </div>
    <h1>Pourquoi nous choisir ?</h1>
  </div>
</section>

{% endblock %}
