{% extends "base.html.twig" %}
{% block contenu %}
<section id="banderole">
  <div id="imageBack">
    <div class="overlay">
    </div>
    <h1>Pourquoi nous choisir ?</h1>
  </div>
</section>
<section id="container">
  <h2>Servimaroc, votre expert au services <br> des professionnels</h2>
  <p>Nous apportons depuis plus de 10 ans des différentes solutions de nettoyage, gardiennage, brancadrage. Notre présence sur Casablanca nous permet une grande réactivité, et permet une intervention dans les meilleurs délais. Le fait que l’entreprise Servimaroc soit à la dimension humaine et de part, la philosophie de la direction, l’ensemble de nos agents n’hésitent pas à s’investir pour la satisfaction de nos clients.</p>
  <p>De l’agent de service à la direction, tous sont mobilisés et forment un véritable travail d’équipe,<br>
  dédié à notre clientèle a fin de crée un véritable partenariat avec ces dernier.</p>
  <div id="divFlex">
    <article>
      <h3><img src="images/icones/chat.png" alt="">Nous sommes à l'écoute...</h3>
      <p>Pour faire le point sur vos attentes et élaborer ensemble un cahier des charges adapté à vos besoins et à votre budget.</p>
    </article>
    <article>
      <h3><img src="images/icones/meeting.png" alt="">Une entreprise à taille humaine</h3>
      <p>Nous restons à ce jour une entreprise à taille humaine qui nous permet d’être réactifs et proches de nos clients.</p>
    </article>
    <article>
      <h3><img src="images/icones/check-mark.png" alt="">Suivi qualité</h3>
      <p>Nos chefs d’équipe, inspecteurs et inspecteurs suppléants assurent un suivi qualité garantissant en permanence le respect et la bonne exécution d’un cahier des charges.</p>
    </article>
    <article>
      <h3><img src="images/icones/presentation.png" alt="">Formés régulièrement</h3>
      <p>Nos salariés suivent régulièrement des formations adaptés aux locaux de nos clients.</p>
    </article>
    <article>
      <h3><img src="images/icones/eye-scanner.png" alt="">Contrôles réguliers</h3>
      <p>Nos prestations de nettoyage sont contrôlées grâce à un système de pointeuse mobile et aux passages réguliers et géolocalisés de notre personnel d’encadrement technique qui veille à la bonne exécution des tâches.</p>
    </article>
  </div>
</section>

{% endblock %}
