{% extends "base.html.twig" %}
{% block contenu %}

<section>
  <h2>Nos prestations</h2>
  <p>Servomaroc propose aux entreprises tout un panel de prestations adaptées pour répondre à leurs exigences d’hygiène et de propreté. <br>Découvrez les pricipales types de services effectués par notre société.</p>

  <article id="nettoyage">
    <div>
      <img src="images/prestations/nettoyage.jpg" alt="Prestation de Nettoyage">
    </div>
    <div class="description">
      <h3>Nettoyage</h3>
      <p>La prestation de choix pour un nettoyage régulier de vos locaux professionnels et industriels, avec des horaires flexibles.</p>
      <p>Servimaroc s’adapte aux besoins de sa clientèle. Un nettoyage et un entretien régulier de vos locaux, bureaux, commerces, industries, restaurants, ou parties communes contribuent à assainir votre lieu de travail et à vous apporter confort, santé et qualité de vie. Tout en respectant les réglementations associées à vos locaux et les règles de sécurité, notre société de nettoyage met toute son attention à satisfaire vos exigences d’hygiène et d’entretien.</p>
      <p>Nos équipes procèdent à des interventions régulières de nettoyage et d’entretien. Nos plannings flexibles et adaptés au milieu industriel et professionnel vous permettent d’accorder vos horaires de travail aux horaires de nettoyage. Sans risque de perturbation, notre personnel qualifié et responsable s’adapte à vos conditions.</p>
    </div>
  </article>

  <article id="gardiennage">
    <div>
      <img src="images/prestations/gardiennage2.jpg" alt="Prestation de Gardiennage">
    </div>
    <div class="description">
      <h3>Gardiennage</h3>
      <p>Davantage d’entreprises confient la sécurisation de leurs sites à des prestataires externes dont la prévention et la sécurité sont le cœur de métier. Servimaroc propose des solutions de gardiennage et de surveillance adaptées à vos problématiques de sécurité.</p>

      <p>Surveiller et sécuriser un site commercial/industriel, des locaux et bureaux, des entrepôts est une affaire de professionnels. Outre les moyens matériels et technologiques à déployer, l’exercice de cette activité requiert des solutions de sécurité humaine couplées à un réel savoir-faire métier.</p>

      <p>Aujourd’hui, professionnels et particuliers font le choix d’externaliser la surveillance et la sécurisation de leurs locaux /habitations. Et pour cause, les sociétés de sécurités privées remplissent les critères nécessaires pour maintenir un haut niveau de protection à leurs clients : des agents professionnels formés aux missions de sécurité et de gestion des risques, des moyens matériels et technologiques adaptés, de l’expérience éprouvée dans la sécurisation de sites, la protection rapprochée et celle des grands évènements. </p>
    </div>
  </article>

  <article id="brancardage">
    <div>
      <img src="images/prestations/brancardage.jpg" alt="Prestation de Brancardage">
    </div>
    <div class="description">
      <h3>Brancardage</h3>
      <p>C’est une activité du transport des malades, blessés et cadavres sur un brancard, sur une civière ou sur une chaise roulante. Cette activité est destinée à être exécutée dans des cliniques et des hôpitaux publics.</p>

      <p>Cette activité doit être assurée par un personnel ayant subi au moins une formation d’initiation aux premiers secours, dirigé par un chef d’équipe qualifié. Entre autres, ce personnel doit avoir un âge entre 18 et 45ans, avoir au moins un niveau de baccalauréat, avoir le sens humain et relationnel, et avoir fait des vaccins notamment contre l’hépatite.</p>

      <p>En général, cette activité doit être assurée d’une façon soigneuse afin d’éviter tous les mouvements chocs et brusques qui peuvent aggraver l’état du malade ou blessé.</p>
    </div>
  </article>
  <article id="othersActivities">
    <h3>Autres prestations</h3>
    <ul>
      <li>Nettoyage de vitres</li>
      <li>Nuisible</li>
      <li>Buandage</li>
      <li>Gestion d’accueil</li>
    </ul>
  </article>

</section>

<hr>

{% endblock %}
