{% extends "base.html.twig" %}
{% block contenu %}

<section>
  <h2>Nos prestations</h2>
  <p>Servomaroc propose aux entreprises tout un panel de prestations adaptées pour répondre à leurs exigences d’hygiène et de propreté. <br>Découvrez les pricipales types de services effectués par notre société.</p>

  <article id="nettoyage">
    <div>
      <img src="images/prestations/nettoyage.jpg" alt="Prestation de Nettoyage">
    </div>
    <div class="description">
      <h3>Nettoyage</h3>
      <p>La prestation de choix pour un nettoyage régulier de vos locaux professionnels et industriels, avec des horaires flexibles.</p>
      <p>Servimaroc s’adapte aux besoins de sa clientèle. Un nettoyage et un entretien régulier de vos locaux, bureaux, commerces, industries, restaurants, ou parties communes contribuent à assainir votre lieu de travail et à vous apporter confort, santé et qualité de vie. Tout en respectant les réglementations associées à vos locaux et les règles de sécurité, notre société de nettoyage met toute son attention à satisfaire vos exigences d’hygiène et d’entretien.</p>
      <p>Nos équipes procèdent à des interventions régulières de nettoyage et d’entretien. Nos plannings flexibles et adaptés au milieu industriel et professionnel vous permettent d’accorder vos horaires de travail aux horaires de nettoyage. Sans risque de perturbation, notre personnel qualifié et responsable s’adapte à vos conditions.</p>
    </div>
  </article>
  <article id="gardiennage">
    <div>
      <img src="images/prestations/nettoyage.jpg" alt="Prestation de Nettoyage">
    </div>
    <div>
      <h3>Nettoyage</h3>
      <p>La prestation de choix pour un nettoyage régulier de vos locaux professionnels et industriels, avec des horaires flexibles.</p>
      <p>Servimaroc s’adapte aux besoins de sa clientèle. Un nettoyage et un entretien régulier de vos locaux, bureaux, commerces, industries, restaurants, ou parties communes contribuent à assainir votre lieu de travail et à vous apporter confort, santé et qualité de vie. Tout en respectant les réglementations associées à vos locaux et les règles de sécurité, notre société de nettoyage met toute son attention à satisfaire vos exigences d’hygiène et d’entretien.</p>
      <p>Nos équipes procèdent à des interventions régulières de nettoyage et d’entretien. Nos plannings flexibles et adaptés au milieu industriel et professionnel vous permettent d’accorder vos horaires de travail aux horaires de nettoyage. Sans risque de perturbation, notre personnel qualifié et responsable s’adapte à vos conditions.</p>
    </div>
  </article>

</section>

<hr>

{% endblock %}
